<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap3 uap5">

  <Identity
    Name="90134f50-d8e6-4406-abc4-57d19471dbd5"
    Publisher="CN=0B44CA61-7898-42FE-825C-ADA43BC01A93"
    Version="4.5.6.0" />

  <mp:PhoneIdentity PhoneProductId="90134f50-d8e6-4406-abc4-57d19471dbd5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>Jenius Apps</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="AmbientSounds.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="AmbientSounds"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Ambie">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" xmlns:a="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"   BackgroundColor="transparent"/>
      </uap:VisualElements>
      <Extensions>
	    <uap:Extension Category="windows.appService">
		  <uap:AppService Name="com.jeniusapps.ambie" />
	    </uap:Extension>
	    <uap:Extension Category="windows.protocol" EntryPoint="AmbientSounds.App">
		  <uap:Protocol Name="ambie">
		  <uap:DisplayName>ms-resource:AppDisplayName</uap:DisplayName>
		  </uap:Protocol>
	    </uap:Extension>
	    <Extension Category="windows.backgroundTasks" EntryPoint="AmbientSounds.Tasks.StartupTask">
	      <BackgroundTasks>
	        <Task Type="systemEvent"/>
	      </BackgroundTasks>
	    </Extension>
	    <Extension Category="windows.backgroundTasks" EntryPoint="AmbientSounds.Tasks.StreakReminderTask">
	      <BackgroundTasks>
	        <Task Type="timer"/>
	      </BackgroundTasks>
	    </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="userAccountInformation"/>
    <rescap:Capability Name="confirmAppClose"/>
  </Capabilities>
</Package>
