@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>We're trying to open Ambie now. Make sure you've installed it. <a href="https://www.microsoft.com/en-us/p/ambie-white-noise/9p07xnm5chp0">Download from here if you don't have it yet</a>.</p>
</div>
